{#
/**
* index.html
* @author Souvenance <skavunga@gmail.com>
* @version 1.1
*/
#}
{% extends 'base.html' %}

    {% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2 panel panel-default" id="content_zone">
          {% include 'table.html' %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
          $('#search_form').on('submit', function(e,f){
            e.preventDefault();
            $.ajax({
              url: "{{ url('/search') }}",
              data: $(this).serialize(),
              type: 'post'
            }).success(function(resp){
              console.log(resp)
            }).error(function (err) {
              console.log('Erreur: ');
              console.log(err);
            });
          })
        } );
    </script>
{% endblock %}
