{#
/**
* index.html
* @author Souvenance <skavunga@gmail.com>
* @version 1.1
*/
#}
{% extends 'base.html' %}

    {% block content %}
    <div class="row">
        <div class="col-md-8 panel panel-default">
            <table class="table table-striped table-hover">
                <thead>
                    <th>{{ icon('tag') }} Description</th>
                    <th>{{ icon('hdd') }} Taille</th>
                    <th>{{ icon('lock') }} Permissions</th>
                    <th>{{ icon('calendar') }} Mis &agrave; jours</th>
                </thead>
                <tbody>
                    {% for file in files %}
                        <tr>
                            <td>
                                <a href="{{ file.linki }}" title="Ouvrir">
                                  {{ file.type == 'dir' ? icon('folder-open') : icon('file') }} &nbsp;
                                  {{ file.name | capitalize }}
                                </a>
                                {% if file.index %}
                                    <a href="{{ file.link }}" target="_blank" class="btn btn-xs btn-success pull-right" title="Explorer" rel="tooltip">
                                        {{ icon('new-window') }} Explorer
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                {% if file.type == 'file' %}
                                    {{ file.size }}
                                {% endif %}
                            </td>
                            <td>{{ file.perms }}</td>
                            <td>{{ file.modified | date('d-m-Y H:i:s')  }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
          <div class="panel panel-info">
            <div class="panel-heading">
              <div class="panel-title">
                Autres informations
              </div>
              <div class="panel-body">

              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}

{% block css %}
 {{ cssHtml('jquery.datatables') }}

 {{ cssHtml('themes/smoothness/jquery-ui-1.8.4.custom') }}

 <style>
     .dataTables_scroll {
         margin-bottom: 8px;
         border-bottom: 1px solid black;
     }
 </style>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            $('.datatable').dataTable( {
                // "sScrollY": 280,
                // "bJQueryUI": true,
                //"sPaginationType": "full_numbers",
                "oLanguage": {
                    "sUrl": "{{ url('/assets/datafr.json') }}"
                }
            } );
        } );
    </script>
{% endblock %}
