{% if files | length %}
<table class="table table-striped table-hover tablesorter">
    <thead>
        <th>{{ icon('tag') }} Description</th>
        <th>{{ icon('hdd') }} Taille</th>
        <th>{{ icon('lock') }} Permissions</th>
        <th>{{ icon('calendar') }} Mis &agrave; jours</th>
    </thead>
    <tbody>
        {% for file in files %}
            <tr>
                <td>
                  {% if file.type == 'dir' %}
                    <a href="{{ file.linki() }}" title="Ouvrir">
                      {{ file.name | icon('folder-open') }}
                    </a>
                    {% if file.index %}
                        <a href="{{ file.link }}" target="_blank" class="btn btn-xs btn-success pull-right" title="Explorer" rel="tooltip">
                            {{ icon('new-window') }} Explorer
                        </a>
                    {% endif %}
                  {% else %}
                    <a href="{{ file.link }}" target="_blank" title="Ouvrir">
                      {{ file.name | icon('file') }}
                    </a>
                  {% endif %}
                </td>
                <td>
                    {% if file.type == 'file' %}
                        {{ file.size() }}
                    {% else %}
                      -----
                    {% endif %}
                </td>
                <td>{{ file.perms() }}</td>
                <td>{{ file.modified | date('d-m-Y H:i:s')  }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
<br>
  <div class="alert alert-warning">
    {{ icon('eye-close') }} Aucun contenu n'est disponible dans ce repertoire :
    <strong>{{ current }}</strong>
  </div>
{% endif %}
