{#
 /**
* layout.html
* @author Souvenance <skavunga@gmail.com>
* @version 1.1
*/
 #}
 {% import "macros.html" as m %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}
    <title> {{ title|default(software) }} | {{ software }}</title>
    {% endblock %}

    {{ cssHtml('bootstrap.min') }}

    {{ cssHtml('jumbotron') }}

    {{ jsHtml('jquery.min') }}

    {% block css %}{% endblock %}

    <style media="screen">
      .c-webb{
        color: #f0ea6c !important;
        text-shadow: white 0px 1px 5px;
      }
    </style>

  </head>

  <body>
    {{ renderFlash() }}
    {% block navmenu %}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand c-webb">Web Explorer</span>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              {% block menu %}
              <li class="active"> {{ linkHtml('/', 'Accueil') }} </li>
              <li class="active">
                <a href="/phpmyadmin">PhpMyAdmin</a>
              </li>
              <!-- <li class="btn btn-danger btn-xs">
                <a href="javascript:history.go(-1)" class="color-white">{{ icon('arrow-left') }} Retour</a>
              </li> -->
              {% endblock %}
            </ul>
            <form class="navbar-form navbar-right" id="search_form" action="{{ url('/recherche_query') }}">
              <input type="hidden" name="search_folder" value="{{ current ?: '/' }}">
              <input type="text" class="form-control" require="require" name="search" id="search_field" placeholder="Recherche ...">
              <select class="form-control" name="search_depth">
                <option value="dir">Dans le dossier courant</option>
                <option value="child">Dossier courant et ses enfants</option>
              </select>
              <button type="submit" class="btn btn-primary">{{ icon('search') }} Rechercher</button>
            </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    {% endblock %}
<br>
    <div class="container c-cont">
      {% block content %}
      <div class="row">
        <div class="col-sm-3" id="navbar-g">
          <div class="list-group">
              {% block navbar %}
                {{ linkHtml('/', 'Page d\'accueil', { class: 'list-group-item active' }) }}
              {% endblock %}
          </div>
        </div>
        <div class="col-sm-9 imprimer-zone">
          {% block corps %}
              <h2 class="header">Contenu</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt ipsam, explicabo, nobis tempore earum distinctio inventore ab laudantium unde ducimus accusantium nostrum quo similique quisquam culpa porro quos corrupti hic?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. In officiis consectetur nulla eius nobis, tempore minima vel maxime illum fuga et reiciendis, eum delectus impedit obcaecati omnis perferendis corrupti. Consectetur.
              </p>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto, omnis? Debitis eveniet, totam, praesentium aliquam, expedita consequatur nihil et pariatur cumque nam quaerat labore eos? Expedita natus in labore saepe? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione fuga aut esse veritatis. Doloremque, nemo consequatur labore voluptas, in quae, omnis repudiandae ducimus incidunt saepe maxime nostrum ea cum nesciunt?</p>
              {% block baspage %}{% endblock %}
          {% endblock %}
        </div>
      </div>
      {% endblock %}

      <hr>
      <footer>
        {% block footer %}
            <p class="text-center">&copy; Copyright 2018, <strong>{{ software }}</strong>. Powered by {{ linkHtml('/skatek_corporation', 'Skatek Corporation', { rel: 'tooltip', title: 'A propos de Skatek Corporation' }) }} </p>
        {% endblock %}
      </footer>
      {% block beforefooter %}{% endblock %}
    </div> <!-- /container -->
    {{ jsHtml('bootstrap.min') }}
    {{ jsHtml('jquery-tablesorter') }}
    {{ jsHtml('scripts') }}
    {% block scripts %}{% endblock %}
  </body>
  </html>
